<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Підключення Bootstrap з CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'script.js' %}"></script>

    <title>Courses</title>
</head>

<body>
    <div class="curses">

        <div class="curses__part1">
            <div class="logo_menue">
                <div class="logo"><img src="{% static 'img/logo1.png' %}" alt="logo1"></div>
                <div class="menu" onclick="toggleMenu()">
                    <img src="{% static 'img/menue.png' %}" alt="menue_icon" class="menu-icon">
                    <div class="dropdown-menu" id="dropdownMenu">
                        <a href="{% url 'index' %}">Головна</a>
                        <a href="{% url 'index' %}">Формула успіху</a>
                        <a href="{% url 'index' %}">Викладачі</a>
                        <a href="#">Програми навчання</a>
                        <a href="{% url 'index' %}">Поширені запитання</a>
                    </div>
                </div>
            </div>


            <div class="curses__part2">
                <div class="title3">Доступні курси</div>

                <div class="filter" onclick="showPopup()">Фільтрувати</div>

                <div class="popup" id="popup">
                    <div class="popup-content">
                        <!-- Ваші блоки для вікна -->
                        <div class="filter-option">
                            <div class="filter_title">Ціна</div>
                            <div class="filter_main1">
                                <label class="lbl" for="userInput">Від</label>
                                <input class="inpt" type="text" id="userInput" onkeydown="checkEnter(event)">
                                <label class="lbl" for="userInput">до</label>
                                <input class="inpt" type="text" id="userInput" onkeydown="checkEnter(event)">
                            </div>
                        </div>
                        <div class="filter-option">
                            <div class="filter_title">Мова</div>
                            <div class="filter_main2">
                                <select id="dropdown" onchange="updateField()">
                                    <option value="option1">Англійська</option>
                                    <option value="option2">Польська</option>
                                    <option value="option3">Французька</option>
                                    <option value="option4">Китайська</option>
                                    <option value="option5">Німецька</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter-option">
                            <div class="filter_title">Рівень мови</div>
                            <div class="filter_main3">
                                <form>
                                    <label class="lbl2">
                                        <input type="radio" name="level" value="A1"> A1
                                    </label>
                                    <label class="lbl2">
                                        <input type="radio" name="level" value="A2"> A2
                                    </label>
                                    <label class="lbl2">
                                        <input type="radio" name="level" value="В1"> В1
                                    </label>
                                    <label class="lbl2">
                                        <input type="radio" name="level" value="В2"> В2
                                    </label>
                                    <label class="lbl2">
                                        <input type="radio" name="level" value="С1"> С1
                                    </label>

                                </form>



                            </div>
                        </div>

                        <button class="but2">Фільтрувати</button>
                        <!-- Кінець блоків -->
                        <span class="close" onclick="closePopup()">&times;</span>
                    </div>
                </div>


                <div class="subtitle1">Англійська мова</div>


                <div class="curses_block">

                    <div class="curses_block1">

                        <div class="block1_1">

                            <div class="block__title">Стандарт</div>
                            <div class="block__text">
                                <ul>
                                    <li> 24 заняття в групі</li>
                                    <li> 4 години розмов з носіями мови</li>
                                    <li> 3 місяці</li>
                                    <li> вибір зручного розкладу</li>
                                    <li> рівні А1, A2, B1, B2, C1</li>
                                </ul>
                            </div>
                            <div class="block__price">6 000 грн</div>
                            <div class="block__button"><a href="{% url 'index3' %}">Записатися</a></div>
                        </div>


                        <div class="block1_2">
                            <div class="block__title">Інтенсив</div>
                            <div class="block__text">
                                <ul>
                                    <li> 30 індивідуальних занять</li>
                                    <li> 10 годин розмов з носіями мови</li>
                                    <li> 1,5 місяця навчання</li>
                                    <li> індивідульний план навчання</li>
                                    <li> рівні А1, A2, B1</li>
                                </ul>
                            </div>
                            <div class="block__price">25 000 грн</div>
                            <div class="block__button"><a href="{% url 'index3' %}">Записатися</a></div>
                        </div>


                    </div>


                    <div class="curses_block2">

                        <div class="plane_img">
                            <img src="{% static 'img/paper-plane.png' %}" alt="plane">
                        </div>

                        <div class="block1_3">
                            <div class="block__title">Персональний</div>
                            <div class="block__text">
                                <ul>
                                    <li> 30 індивідуальних занять</li>
                                    <li> 10 годин розмов з носіями мови</li>
                                    <li> 1,5-3 місяці навчання</li>
                                    <li> індивідульний план навчання</li>
                                    <li> рівні А1, A2, B1, B2, C1</li>
                                </ul>
                            </div>
                            <div class="block__price">20 000 грн</div>
                            <div class="block__button"><a href="{% url 'index3' %}">Записатися</a></div>
                        </div>

                    </div>




                </div>



            </div>



            <div class="curses__part3">
                <div class="subtitle2">Французька мова</div>

                <div class="curses_block">

                    <div class="curses_block1">

                        <div class="block2_1">

                            <div class="block__title">Стандарт</div>
                            <div class="block__text">
                                <ul>
                                    <li> 24 заняття в групі</li>
                                    <li> 4 години розмов з носіями мови</li>
                                    <li> 3 місяці</li>
                                    <li> вибір зручного розкладу</li>
                                    <li> рівні А1, A2, B1, B2, C1</li>
                                </ul>
                            </div>
                            <div class="block__price">8 000 грн</div>
                            <div class="block__button"><a href="{% url 'index3' %}">Записатися</a></div>

                        </div>

                        <div class="block2_3">
                            <div class="block__title">Інтенсив</div>
                            <div class="block__text">
                                <ul>
                                    <li> 30 індивідуальних занять</li>
                                    <li> 10 годин розмов з носіями мови</li>
                                    <li> 1,5 місяця навчання</li>
                                    <li> індивідульний план навчання</li>
                                    <li> рівні А1, A2, B1</li>
                                </ul>
                            </div>
                            <div class="block__price">30 000 грн</div>
                            <div class="block__button"><a href="{% url 'index3' %}">Записатися</a></div>
                        </div>


                    </div>




                    <div class="curses_block2">

                        <div class="plane_img"><img src="{% static 'img/paper-plane.png' %}" alt="plane"></div>

                        <div class="block2_2">
                            <div class="block__title">Персональний</div>
                            <div class="block__text">
                                <ul>
                                    <li> 30 індивідуальних занять</li>
                                    <li> 10 годин розмов з носіями мови</li>
                                    <li> 1,5-3 місяці навчання</li>
                                    <li> індивідульний план навчання</li>
                                    <li> рівні А1, A2, B1, B2, C1</li>
                                </ul>
                            </div>
                            <div class="block__price">23 000 грн</div>
                            <div class="block__button"><a href="{% url 'index3' %}">Записатися</a></div>
                        </div>

                    </div>
                </div>









                <div class="curses__part4">
                    <div class="subtitle3">Польська мова</div>


                    <div class="curses_block">

                        <div class="curses_block1">

                            <div class="block3_1">

                                <div class="block__title">Стандарт</div>
                                <div class="block__text">
                                    <ul>
                                        <li> 24 заняття в групі</li>
                                        <li> 4 години розмов з носіями мови</li>
                                        <li> 3 місяці</li>
                                        <li> вибір зручного розкладу</li>
                                        <li> рівні А1, A2, B1, B2, C1</li>
                                    </ul>
                                </div>
                                <div class="block__price">6 000 грн</div>
                                <div class="block__button"><a href="{% url 'index3' %}">Записатися</a></div>

                            </div>

                            <div class="block3_3">
                                <div class="block__title">Інтенсив</div>
                                <div class="block__text">
                                    <ul>
                                        <li> 30 індивідуальних занять</li>
                                        <li> 10 годин розмов з носіями мови</li>
                                        <li> 1,5 місяця навчання</li>
                                        <li> індивідульний план навчання</li>
                                        <li> рівні А1, A2, B1</li>
                                    </ul>
                                </div>
                                <div class="block__price">25 000 грн</div>
                                <div class="block__button"><a href="{% url 'index3' %}">Записатися</a></div>
                            </div>


                        </div>

                        <div class="curses_block2">

                            <div class="plane_img"><img src="{% static 'img/paper-plane.png' %}" alt="plane"></div>

                            <div class="block3_2">
                                <div class="block__title">Персональний</div>
                                <div class="block__text">
                                    <ul>
                                        <li> 30 індивідуальних занять</li>
                                        <li> 10 годин розмов з носіями мови</li>
                                        <li> 1,5-3 місяці навчання</li>
                                        <li> індивідульний план навчання</li>
                                        <li> рівні А1, A2, B1, B2, C1</li>
                                    </ul>
                                </div>
                                <div class="block__price">15 000 грн</div>
                                <div class="block__button"><a href="{% url 'index3' %}">Записатися</a></div>
                            </div>

                        </div>
                    </div>








                </div>

                <div class="curses__part5">

                    <div class="subtitle1">Китайська мова</div>

                    <div class="curses_block">
                        <div class="curses_block1">
                            <div class="block1_1">

                                <div class="block__title">Стандарт</div>
                                <div class="block__text">
                                    <ul>
                                        <li> 24 заняття в групі</li>
                                        <li> 4 години розмов з носіями мови</li>
                                        <li> 3 місяці</li>
                                        <li> вибір зручного розкладу</li>
                                        <li> рівні А1, A2, B1, B2, C1</li>
                                    </ul>
                                </div>
                                <div class="block__price">6 000 грн</div>
                                <div class="block__button"><a href="{% url 'index3' %}">Записатися</a></div>

                            </div>

                            <div class="block1_2">
                                <div class="block__title">Інтенсив</div>
                                <div class="block__text">
                                    <ul>
                                        <li> 30 індивідуальних занять</li>
                                        <li> 10 годин розмов з носіями мови</li>
                                        <li> 1,5 місяця навчання</li>
                                        <li> індивідульний план навчання</li>
                                        <li> рівні А1, A2, B1, В2</li>
                                    </ul>
                                </div>
                                <div class="block__price">40 000 грн</div>
                                <div class="block__button"><a href="{% url 'index3' %}">Записатися</a></div>
                            </div>

                        </div>
                        <div class="curses_block2">

                            <div class="plane_img"><img src="{% static 'img/paper-plane.png' %}" alt="plane"></div>

                            <div class="block1_3">
                                <div class="block__title">Персональний</div>
                                <div class="block__text">
                                    <ul>
                                        <li> 30 індивідуальних занять</li>
                                        <li> 10 годин розмов з носіями мови</li>
                                        <li> 1,5-3 місяці навчання</li>
                                        <li> індивідульний план навчання</li>
                                        <li> рівні А1, A2, B1, B2, C1</li>
                                    </ul>
                                </div>
                                <div class="block__price">30 000 грн</div>
                                <div class="block__button"><a href="{% url 'index3' %}">Записатися</a></div>
                            </div>
                        </div>
                    </div>



                </div>

                <div class="curses__part6">
                    <div class="subtitle2">Німецька мова</div>


                    <div class="curses_block">
                        <div class="curses_block1">
                            <div class="block2_1">

                                <div class="block__title">Стандарт</div>
                                <div class="block__text">
                                    <ul>
                                        <li> 24 заняття в групі</li>
                                        <li> 4 години розмов з носіями мови</li>
                                        <li> 3 місяці</li>
                                        <li> вибір зручного розкладу</li>
                                        <li> рівні А1, A2, B1, B2, C1</li>
                                    </ul>
                                </div>
                                <div class="block__price">6 000 грн</div>
                                <div class="block__button"><a href="{% url 'index3' %}">Записатися</a></div>

                            </div>
                            <div class="block2_3">
                                <div class="block__title">Інтенсив</div>
                                <div class="block__text">
                                    <ul>
                                        <li> 30 індивідуальних занять</li>
                                        <li> 10 годин розмов з носіями мови</li>
                                        <li> 1,5 місяця навчання</li>
                                        <li> індивідульний план навчання</li>
                                        <li> рівні А1, A2, B1</li>
                                    </ul>
                                </div>
                                <div class="block__price">25 000 грн</div>
                                <div class="block__button"><a href="{% url 'index3' %}">Записатися</a></div>
                            </div>

                        </div>
                        <div class="curses_block2">

                            <div class="plane_img"><img src="{% static 'img/paper-plane.png' %}" alt="plane"></div>

                            <div class="block2_2">
                                <div class="block__title">Персональний</div>
                                <div class="block__text">
                                    <ul>
                                        <li> 30 індивідуальних занять</li>
                                        <li> 10 годин розмов з носіями мови</li>
                                        <li> 1,5-3 місяці навчання</li>
                                        <li> індивідульний план навчання</li>
                                        <li> рівні А1, A2, B1, B2, C1</li>
                                    </ul>
                                </div>
                                <div class="block__price">15 000 грн</div>
                                <div class="block__button"><a href="{% url 'index3' %}">Записатися</a></div>
                            </div>

                        </div>
                    </div>

                </div>






                <div class="curses__part7">
                    <div class="logo"><img src="{% static 'img/Logo2.png' %}" alt="logo2"></div>
                    <div class="networks">
                        <div class="mail">
                            <div class="mail_icon"><img src="{% static 'img/🦆 icon _email_.png' %}" alt="mail"></div>
                            poliglot@gmail.com
                        </div>
                        <div class="tg">
                            <div class="tg_icon"><img src="{% static 'img/icons8-telegram 1.png' %}" alt="tg"></div>
                            poliglot.tg
                        </div>
                    </div>
                </div>






            </div>
</body>

</html>